// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    body: #e3f2fd,
    primary: #000,
    primary-dark: #000,
    secondary: #df5e12,
    secondary-dark: #df5e12
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
